{% extends 'base.html.twig' %}

{% block title %}Renommer et compresser{% endblock %}

{% block body %}
<div class="container">
    <div class="form">
        {{ form(upload_form) }}  
    </div>
</div> 
{% endblock %}
